.father {
  display: flex;
  height: 100vh;
  gap: 10px;
  justify-content: flex-start;
  /* flex-wrap: wrap; flex-wrap은 컨테이너가 한줄인지 다중라인인지 정함 
  flex-direction: row;  */
  flex-flow: row wrap; /* flex-flow는 flex-direction과 flex-wrap을 한번에 정의 */
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: inline-block;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}