body {
  display: flex;
  gap: 10px;
  flex-direction: row; /* 기본값 */
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: inline-block;
  color: white;
  font-size: 36px;
}
/* flexbox를 사용하면, 개별 열을 신경 쓸 필요없다
  그리고 하드코딩을 하며 간격을 맞추지 않아도된다. 

  1규칙: 자식요소가 아닌, "직속" 부모요소를 통해 조정한다.
*/
