.father {
  display: flex;
  height: 100vh;
}

.box {
  height: 200px;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:first-child {
  background-color: tomato;
  flex-grow: 1;
  flex-shrink: 3; /* 숫자가 높을수록 축소되는 속도 빨라짐 */
}
.box:nth-child(2) {
  background-color: orange;
  flex-grow: 2;
  flex-shrink: 0;
}
.box:last-child {
  background-color: teal;
  flex-grow: 1;
  flex-shrink: 1;
}
